/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


/*incorrect info label */
#incorrectInfo{
	-fx-text-fill: #FF0000;
	-fx-text-alignment: center;
}
/*login button */
#loginButton {
  -fx-border-radius: 4px;
  -fx-color: #fff;
  -fx-text-fill: #FFFFFF;
  -fx-cursor: pointer;
  -fx-font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  -fx-font-size: 20px;
  -fx-font-weight: 700;
  -fx-min-height: 60px;
  -fx-min-width: 100px;
  -fx-padding: 16px 20px;
}
#loginButton:hover {
	-fx-cursor: hand;
	-fx-translate-y:-2;
 	-fx-background-color: #065dd8;
  	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}
/*text fields */
.text-field{
	-fx-background-insets:0;
	-fx-padding: 5px 12px;
}
/*Choice box Style */

.dropdown-box{
	-fx-background-color:  #354251;
	-fx-text-fill: black;
	-fx-background-insets:0;
	-fx-padding: 0px 0px;
}
.dropdown-box .arrow{
	-fx-background-color: white;
}

.dropdown-box .context-menu{
	-fx-background-color:  #354251;
}
.dropdown-box .context-menu .menu-item .label{
	-fx-text-fill: white;
}
.dropdown-box .label{
	-fx-text-fill: white;
}


.dropdown-box .context-menu .menu-item:hover {
	-fx-cursor: hand;
	-fx-text-fill: #FFFFFF;
}
.dropdown-box:hover{
	-fx-cursor: hand;
}

/*end of Choice Box Style. */


.check-box{
	-fx-background-insets:0;
	-fx-padding: 0px 0px;
	-fx-border-width: 0px 0px 2px 0px;
}
.check-box .box{
	-fx-background-color: white;
	-fx-border-color: #354251;
	-fx-border-width: 1px;
}


#closeIcon:hover{
	-fx-fill:#C42B1C;
	-fx-translate-y:-1;
  	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}





